.body {
    background-color: white;
}
.image {

    margin-left: 100px;
    margin-right: 100px;
    /* background-color: rgb(231, 227, 232);    */
         padding-top: 40px
}

/* carousel css */
#carouselImg{
    opacity:5;
}

/* Card css */
/* .cardImg{
    margin-top: 20px;
} */
/* .card{
border-radius: 20px;
} */


/* CardYoutube css */
.youtube {
padding-left: 20px;
padding-right: 20px;
    /* background-color: rgb(231, 227, 232); */
        margin-left: 30px;
margin-right: 30px;
padding-top: 20px;

}

/* CardBody css */

.Cardbody {
    /* background-color: rgb(231, 227, 232); */
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;

}
/* .Cardbody {
    background-color: white;
    
    margin-right: 100px;
    margin-top: 100px;
    
} */


.hr {
    border: 1px solid black;
    /* width: 1400px; */
    /* margin-left: 400px; */
    /* margin-right: 40px; */
}


/* KeyFeatures css  */

.Features {
    border: 1px solid black;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 40px;
}

/* Inference css */
.Inference{
    /* background-color: rgb(231, 227, 232); */
            margin-left: 30px;
    margin-right: 10px;
    padding: 30px;
}


/* footer css */
.linkTag{
    margin: 25px;
}
#mainContainer {
background-color: red;
/* background-color: rgb(246, 246, 238); */
margin-left: 100px;
margin-right: 100px;
margin-top: 100px;
}

